<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    &lt;!&ndash; D2K相关日志 &ndash;&gt;-->
<!--    <logger name="com.d2k" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <!-- 示例应用日志 -->
    <logger name="example.d2k" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Spring Boot日志 -->
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    
    <!-- Kafka客户端日志 -->
    <logger name="org.apache.kafka" level="WARN"/>

    <!-- 根日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>